/* File:/lists/admin/ui/bootlist/css/style.css */

/******************************* 

TABLE OF CONTENT 

# generals 
    ## bootstrap
    ## phpList

# header

# login



*******************************/

/* # generals */

/* ## bootstrap */
.btn{margin:10px 0}
.btn-default{background:#DDD}
/* ## phpList */
#container{margin-bottom:50px}
.navbar-brand{padding-top:7px}


/* # header */
#navigation #menuTop a.dropdown-toggle{padding-top:22px;padding-bottom:27px}

/* # login */
body.login form{margin-top:40px}
body.login form input{max-width:300px}
body.login form span.general{margin-top:20px;display:block}

/* # dashboard */
.home .listingname a{font-size: 14px;display: block;font-family: "genlight";color: rgb(255, 255, 255);}
.home span.listingname{font-size: 40px;width: 180px;white-space:normal}
.home .custom-attribute span.listingname{font-size: 30px;width: 150px;}
.home .custom-attribute td.listingname{padding-left:30px}
.home .listingelement{white-space: normal}




/* End of /lists/admin/ui/bootlist/css/style.css */
