/* File:/lists/admin/ui/bootlist/css/style.css */

/******************************* 

TABLE OF CONTENT 

# generals 
    ## bootstrap
    ## phpList

# header

# Special pages
    ## login
    ## dashboard
    ## send

# tabs
# modals
# progressbar
*******************************/



/* # generals *****************/

iframe{border:0px}
#cke_message{width:100% !important}

/* ## bootstrap */
a:focus,button:focus{outline:none !important}
.btn{margin:10px 5px 10px 0px}
.btn-xs{margin:2px}
.btn-default{background:#DDD}
.btn-warning{color:#333;background-color:#FF9}
.btn-link{border-color:#CCC;border-radius:4px}
.btn-link:link{border-color:#666}
span.glyphicon{margin:5px}
.well{background-color:#FCFCFC}
.btn.disabled{opacity:0.2}

/* ## phpList */
#container{margin-bottom:50px}
.navbar-brand{padding-top:7px}
div.panel{padding:0px !important;background:none !important} /* FIX NEEDED BECAOUSE HELP PAGE (page=community) loads style.css from dressprow theme */
body.plugins a.ajaxable button{background:inherit;padding:0;margin:0;font-size:inherit}
.output:last-child{font-weight:bold}
#processqueueoutput .well{background:none}
#progresscount{margin-bottom:10px}
#processqueueprogress{min-height:100px;border-color:#e3e3e3}
#processqueuesummary{border-color:#e3e3e3;margin-top:40px;height:200px}
.sendtabs_container{border-bottom: 4px solid #999;height: 63px;}
span.nexttab, span.prevtab{margin:35px 0 0 0}
#sendtabs ul li{margin-right:2px}
.panel .step-nav{position:relative}
.panel .step-nav a,.panel .step-nav a.next{padding:0 5px 5px}
.panel .step-nav a:hover{background-color:transparent}



/* # header *******************/

#logged{margin-right: 0px;margin-top: 20px;margin-bottom:20px} 
@media only screen and (min-width:768px){ 
    #navigation #menuTop a.dropdown-toggle{padding-top:22px;padding-bottom:27px}    
}
@media only screen and (min-width:768px) and (max-width:991px) { 
    #navigation .container{padding:0}
    .navbar-collapse{padding:0}
    #navigation #menuTop a.dropdown-toggle{padding-left:10px;padding-right:10px}
}
@media only screen and (max-width:991px){ 
    .navbar-brand > img{width:150px}
    #right-bar{margin-top:40px}
}
@media only screen and (max-width:767px){ 
    .navbar-collapse{box-shadow:none;border-top:0;margin-top:10px;}
    #logged{right: 80px; position: absolute; top: 15px;margin-top:0} 
}
.navbar-inverse{min-height: 71px}



/* # special pages ************/

/* ## login */
body.login form{margin-top:40px}
body.login form input{max-width:300px}
body.login form span.general{margin-top:20px;display:block}

/* ## dashboard */
body.home table.listing *{white-space: normal}
body.home td.listingname {width:200px}
body.home td.listingelement{padding-right:20px;padding-left:20px}
body.home .btn.btn-info{font-size: 14px;display: block;padding:15px 5px;font-family: "genlight";color: rgb(255, 255, 255);}
body.home .btn.btn-info span{display:block;font-size:40px;margin-right:0}
body.home .custom-attribute .btn.btn-info span{font-size: 25px}
body.home .custom-attribute td.listingname{padding-left:40px}

/* ## send */
body.send #sendtabs .btn {margin:0px;padding:5px}
#sendtabs ul li a{width:100px}



/* # tabs ************/
ul.nav-tabs{padding:0}
div.tab-content {padding:20px;border:1px solid #CCC;background-color:#FFF}
.nav.nav-tabs .active a,.nav.nav-tabs .active a:focus{background-color:#f5f5f5;outline:none}



/* # modals ************/
.modal .modal-dialog .close.externo{z-index: 999999;position: absolute;right: 10px;top: 10px;border:1px solid #000;padding:0 8px 4px;border-radius:5px;background-color:#CCC}
.modal #navigation{display:none}




/* End of /lists/admin/ui/bootlist/css/style.css */