/* Common componants style */

body {
	font-family: 'genlight',"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 15px;
}

#container {
	width:100%;
	margin-bottom:0;
}
#footer {
    display: block;
    width: 100%;
    clear: both;
}