/*
@media (min-width: 768px)
.navbar-toggle {
    display: none;
}
*/

.sidebar {
	display:none;
	&.sidebar-open {
		display: block!important;
		overflow:auto;
	}
	background-color: @sidebarcolor;
	padding-top:20px;
	position: absolute;
	width: 200px;
	top: 60px;
	max-height: 100%;
	overflow: hidden;
	z-index: 10;
	#language{
		margin-bottom:50px;
		#languageswitcher {
			.btn-group{
				background:none;
				select {
					background-color: @sidebarcolor;
					color: #ccc;
				}
				.btn {
					margin:0px;
				}
				ul {
					max-height:250px !important;
					a { 
						color:#000;
						border:0;
					}
					a:hover {
						background-color:#CCC;
					}
				}
			}
			position: absolute;
			width: 85%;
		}
	}
	.block {
		margin: auto -15px;
		h3 {
			padding: 5px 10px;
			display: inline-block;
			margin: 0;
			font-size: 12px;
			text-transform: uppercase;
			color: #ccc;
		}
	}
	ul {
		list-style: none;
		padding:0;
		li {
			&:hover {
				background-color: darken(@sidebarcolor, 5%);
			}
			&.active {
				&>a {
					border-color: @orange;
					text-decoration: none;
					color: #fff;					
				}
			}
		}
		a {
			font-family: 'genregular';
			font-size: 14px;
			display: inline-block;
			padding: 10px 15px;
			color: #fff;
			padding-left: 10px;
			border-left: 5px solid transparent;
			width: 100%;
			&:hover, &:active {
				border-color: @grey;
				text-decoration: none;
				color: #fff;
			}
		}
	}
	.menu {
		#menuTop > ul {
			margin-bottom: 0;
			ul {
				display: none;
			}
			&>li {
				&> a:after {
					content: "\e258";
					font-family: 'Glyphicons Halflings';
					float: right;
				}
			}
			li.open {
				background-color: darken(@sidebarcolor, 5%);
				&> a:after {
					content: "\e259";
					font-family: 'Glyphicons Halflings';
					float: right;
				}
				ul {
					background-color: lighten(@sidebarcolor, 5%);
					display:block;
					li {
						margin-left: 20px;
						&.active {
							a {
								color:#fff;
							}
						}
						&:hover {
							background-color: lighten(@sidebarcolor, 5%);
							a {
								color: #fff;
							}
						}
						a {
							border: 0;
							color: #ccc;
						}
					}
				}
			}
		}
	}
}


@media (min-width: 992px) {
	
	.navbar-toggle {
	    display: none;
	}
	.content-wrapper {
		max-width:98%;
		min-height:900px;
		margin-left:17%;
		#content {
    			left:-16%
		}
		.sidebar {
			display: block;
			position: relative;
			width: 16.66666667%;
			top:0;
			left:-17%;
		}
	}
	#globalhelp {
		margin-left: -17%;
		width: 100%;
		#helptarget {
			width: 117%;
			margin-left: -7px;
			padding-right:100px;
			.alert{
				margin: 0;
				padding-right: 10%;
				padding-left: 30px;
			}
		}
	}
}

@media only screen and (max-width: 991px) {
	body{
		background-color:#FFF;
	}
	.navbar-brand>img {
	    width: 60px;
	}
	.navbar-header {
	    float: none;
	}
	#logged {
    		right: 80px;
    		position: absolute;
    		top: 15px;
		margin-top:0;
		a {
		   margin:0
		}
	}
}

@media only screen and (max-width: 768px) {
	.brand-name {
		display: none;
	}

}



.login {
	.sidebar {
		display: none !important;
	}
	.navbar-toggle{
		display: none;
	}
	#container, #content {
		width: 100%;
		background-color: @greylight;
	}
	#wrapp {
		max-width: 300px;
		margin: 0 auto;
		form {
			padding: 10px;
			background-color: #fff;
		}
	}
}
